@tailwind base;
@tailwind components;
@tailwind utilities;

.arjun{
  background-color: rgb(111, 111, 111,0.1);

}
.bgr_clr{
  background-color: rgb(233, 241, 252);
}

.horizontal-scroll-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent items from wrapping */
}

.horizontal-scroll {
  display: inline-flex; /* Display items in a row */
}
